<!-- <div *ngIf="!vparcaptura">
</div> -->
<div class="alert alert-danger" *ngIf="enerror">
    {{message}}
</div>
<div class="alert alert-danger" *ngIf="enlistaerror">
    <ul>
        <li *ngFor="let regerror of listaerrores">
            {{regerror.menerror}}
        </li>
    </ul>
</div>
<div class="alert alert-success" *ngIf="!enerror && mostrarmensaje">
    {{message}}
</div>
<!-- aqui ventanas modal para la adicion de otras tablas desde este modulo -->
<div *ngIf="service.cargoparametrosb && !cargando && resultados" class="row">
    <div class="col-md-6 netsmonibotonmentop">
        <h4> <strong>Monitor {{requerimiento.tipo+'   Id: '+requerimiento.idrequer}} </strong>
        </h4>
    </div>
    <div class="col-md-6 netsmonibotonmentop">
        <h4> <strong *ngIf="requerimiento.interno" class="bg-blue">Interno </strong>
            <strong *ngIf="!requerimiento.interno" class="bg-green">Cliente</strong></h4>
    </div>
</div>
<div *ngIf="service.cargoparametrosb && !cargando && resultados" class="row">
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-requerimiento-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div [class]="classxestado">
                <h3 *ngIf="!requerimiento.interno" class="widget-requerimiento-username">Cliente: {{requerimiento.nom_empre}}</h3>
                <h3 class="widget-requerimiento-username">solicitado Por: {{requerimiento.nomusuarsolicita}}</h3>
                <!-- <h4 class="widget-requerimiento-username">Se presenta en: {{textproducto}}</h4> -->
                <!-- <h4 class="widget-requerimiento-username">Nivel Criticidad: {{textnivelcriticidad}}</h4> -->
                <h4 class="widget-requerimiento-username">Prioridad: {{requerimiento.prioridad}}</h4>
                <h5 class="widget-requerimiento-desc">Fecha Solicitado: {{requerimiento.fecha.toDate() | date: 'medium' }}</h5>
                <h5 *ngIf="!requerimiento.evaluado" class="danger">No se a Evaluado.</h5>
                <h5 *ngIf="requerimiento.evaluado" class="widget-requerimiento-desc">Evaluada por: {{requerimiento.usuarevalua}} </h5>
                <h5 *ngIf="requerimiento.evaluado" class="widget-requerimiento-desc"> Fecha: {{requerimiento.fechaevalua.toDate() | date: 'medium'}} </h5>
                <h5 *ngIf="requerimiento.asignado" class="widget-requerimiento-desc">Asignado a: {{requerimiento.asignadoa}} </h5>
                <h5 *ngIf="requerimiento.asignado" class="widget-requerimiento-desc"> Fecha: {{requerimiento.fechaasignado.toDate() | date: 'medium'}} </h5>
                <h5 *ngIf="!requerimiento.asignado" class="danger">No se a Asignado.</h5>
                <h5 *ngIf="requerimiento.asignado && !requerimiento.iniciotrabajo" class="widget-requerimiento-desc bg-danger">No se ha iniciado a trabajar </h5>
                <h5 *ngIf="requerimiento.asignado && requerimiento.iniciotrabajo" class="widget-requerimiento-desc bg-danger">Inicio Trabajo: {{requerimiento.fechainitrabajo.toDate() | date: 'medium'}} </h5>
                <!-- <h5 *ngIf="requerimiento.asignado && (requerimiento.enpruebas || requerimiento.entregado)" class="widget-requerimiento-desc bg-danger">En Pruebas </h5> -->
                <!-- <h5 *ngIf="requerimiento.asignado && (requerimiento.enpruebas || requerimiento.entregado)" class="widget-requerimiento-desc bg-danger">Inicio Pruebas: {{requerimiento.fechainipruebas.toDate() | date: 'medium'}} </h5> -->
                <!-- <h5 *ngIf="requerimiento.asignado && requerimiento.entregado" class="widget-requerimiento-desc bg-danger">Inicio Pruebas: {{requerimiento.fechafinpruebas.toDate() | date: 'medium'}} </h5> -->
                <h4 *ngIf="requerimiento.entregado" class="widget-requerimiento-desc">Entregado </h4>
                <h5 *ngIf="requerimiento.entregado" class="widget-requerimiento-desc"> Fecha: {{requerimiento.fechaentregado.toDate() | date: 'medium'}} </h5>
            </div>
            <div class="box-footer no-padding">
                <div class='box-body'>
                    <h4><span class="titulocaja">
                                            Asunto </span></h4>
                    <p>{{requerimiento.asunto}}</p>
                </div>
                <div class='box-body'>
                    <h4><span class="titulocaja">
                                    Descripción </span></h4>
                    <div [innerHtml]="requerimiento.detalle"></div>
                    <!-- <p>{{requerimiento.detalle}}</p> -->
                </div>
                <div *ngIf="requerimiento.evaluado" class='box-body'>
                    <h4><span class="titulocaja">
                                        Impacto </span></h4>
                    <div [innerHtml]="requerimiento.impacto"></div>
                    <!-- <p>{{requerimiento.impacto}}</p> -->
                </div>
                <div *ngIf="requerimiento.evaluado" class='box-body'>
                    <h4><span class="titulocaja">
                                            Solución a Realizar </span></h4>
                    <div [innerHtml]="requerimiento.soldesa"></div>
                    <!-- <p>{{requerimiento.impacto}}</p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Seguimiento</h3>
            </div>
            <div class="box-body">
                <kendo-splitter-pane>
                    <kendo-tabstrip>
                        <kendo-tabstrip-tab [title]="'Evaluación'" [selected]="false">
                            <ng-template kendoTabContent>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form novalidate [formGroup]="editForm">
                                            <kendo-splitter-pane>
                                                <kendo-tabstrip>
                                                    <kendo-tabstrip-tab [title]="'General'" [selected]="true">
                                                        <ng-template kendoTabContent>
                                                            <div class="tabgeneral">
                                                                <div class="row">
                                                                    <div *ngIf="!requerimiento.evaluado" class="row">
                                                                        <div *ngIf="!requerimiento.asignadoa" class="form-group">
                                                                            <label><h4 class="alert-danger">No se ha evaluado. </h4>
                                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4" *ngIf="!ladocliente">
                                                                            <div class="form-group">
                                                                                <label> Interno
                                                                                                                 <kendo-switch formControlName="interno"
                                                                                                                    [onLabel]="'Si'"
                                                                                                                    [offLabel]="'No'"
                                                                                                                    ></kendo-switch>                                                            
                                                                                                        </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label>
                                                                                                        Tipo
                                                                                                        <kendo-dropdownlist
                                                                                                            formControlName="tipo"
                                                                                                            isRequired="true"
                                                                                                            [data]="listtipos"
                                                                                                            [value]="Requerimiento"
                                                                                                            required
                                                                                                            
                                                                                                        >
                                                                                                        </kendo-dropdownlist>
                                                                                                    </label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-2" *ngIf="!ladocliente">
                                                                            <button *ngIf="!requerimiento.entregado" class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Grabar</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row" *ngIf="!ladocliente">
                                                                        <div class="col-md-8">
                                                                            <div class="form-group">
                                                                                <label>                
                                                                                    Cliente
                                                                                                            <kendo-combobox (valueChange)="handleChange($event)"
                                                                                                                [data]="service.clientes" [textField]="'Empresa'" [valueField]="'Nit'" isRequired="true" 
                                                                                                                formControlName="nit_empre" [valuePrimitive]="true"
                                                                                                                [popupSettings]="{
                                                                                                                width: 350
                                                                                                                }"
                                                                                                            style="width: 350px;">                                      
                                                                                                            </kendo-combobox>
                                                                                                        </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-8">
                                                                            <div class="form-group">
                                                                                <label for="nomusuarsolicita" class="control-label">Solicitado por</label>

                                                                                <input type="text" class="k-textbox" formControlName="nomusuarsolicita" />

                                                                                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.nomusuarsolicita.valid || editForm.controls.nomusuarsolicita.pristine">
                                                                                    Nombre usuario que solicita es requerido
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label>
                                                                                        Prioridad
                                                                                        <kendo-dropdownlist
                                                                                            formControlName="prioridad"
                                                                                            isRequired="true"
                                                                                            [data]="listprioridades"
                                                                                            [value]="Baja"
                                                                                            required
                                                                                        >
                                                                                        </kendo-dropdownlist>
                                                                                    </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label>  
                                                                                            Producto Prin
                                                                                            <kendo-combobox [data]="service.productosprin" [textField]="'nombre'" [valueField]="'id'" isRequired="true" 
                                                                                            formControlName="productoprin" [valuePrimitive]="true">
                                                                                            </kendo-combobox>
                                                                                    </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label>  
                                                                                                Modulo:
                                                                                                <kendo-dropdownlist [data]="service.modulos" [textField]="'nombre'" [valueField]="'id'" isRequired="true" [defaultItem]="{ id: null , nombre: 'Seleccione uno' }" formControlName="modulo" [valuePrimitive]="true">
                                                                                                    </kendo-dropdownlist>                
                                                                                        </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div *ngIf="service.usuarFb.evalua" class="form-group">
                                                                                <label> Evaluado
                                                                                                         <kendo-switch formControlName="evaluado"
                                                                                                            [onLabel]="'Si'"
                                                                                                            [offLabel]="'No'"
                                                                                                            ></kendo-switch>                                                            
                                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-7">
                                                                            <div class="form-group">
                                                                                <label>             
                                                                                            <!-- [defaultItem]="{ id: null , nombre: 'Seleccione uno' }"  -->
                                                                                                           
                                                                                                    Asignado a
                                                                                                    <kendo-combobox 
                                                                                                        [data]="service.consultores" [textField]="'nombre'" [valueField]="'nombre'" isRequired="true" 
                                                                                                        formControlName="asignadoa" [valuePrimitive]="true"
                                                                                                        [popupSettings]="{
                                                                                                        width: 350
                                                                                                        }"
                                                                                                    style="width: 350px;">                                      
                                                                                                    </kendo-combobox>
                                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label> Inicio Trabajo 
                                                                                                             <kendo-switch formControlName="iniciotrabajo"
                                                                                                                [onLabel]="'Si'"
                                                                                                                [offLabel]="'No'"
                                                                                                                ></kendo-switch>                                                            
                                                                                                    </label>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="asunto" class="control-label">Asunto</label>

                                                                        <input type="text" class="k-textbox" formControlName="asunto" />

                                                                        <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.asunto.valid || editForm.controls.asunto.pristine">
                                                                            Asunto es requerido
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </kendo-tabstrip-tab>
                                                    <kendo-tabstrip-tab [title]="'Detalle'" [selected]="false">
                                                        <ng-template kendoTabContent>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div>
                                                                            <label for="detalle" class="control-label">Detalle</label>
                                                                        </div>
                                                                        <!-- <textarea rows="20" cols="140" formControlName="detalle"></textarea>
                                                                         -->
                                                                        <div [innerHtml]="safeHtnlinstrucciones(editForm.controls.detalle.value)"></div>

                                                                        <!-- <kendo-editor disabled formControlName="detalle"></kendo-editor> -->
                                                                        <!-- <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.detalle.valid || editForm.controls.detalle.pristine">
                                                                            Detalle es requerido
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </kendo-tabstrip-tab>
                                                    <kendo-tabstrip-tab [title]="'Impacto'" [selected]="false">
                                                        <ng-template kendoTabContent>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div>
                                                                            <label for="impacto" class="control-label">Impacto</label>
                                                                        </div>
                                                                        <!-- <textarea rows="20" cols="70" formControlName="impacto"></textarea> -->
                                                                        <!-- <kendo-editor formControlName="impacto"></kendo-editor> -->
                                                                        <div [innerHtml]="safeHtnlinstrucciones(editForm.controls.impacto.value)"></div>

                                                                        <!-- <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.impacto.valid || editForm.controls.impacto.pristine">
                                                                            Impacto es requerido
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </kendo-tabstrip-tab>
                                                    <kendo-tabstrip-tab [title]="'Solución'" [selected]="false">
                                                        <ng-template kendoTabContent>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div>
                                                                            <label for="impacto" class="control-label">Solución a desarrollar</label>
                                                                        </div>
                                                                        <!-- <textarea rows="20" cols="70" formControlName="impacto"></textarea> -->
                                                                        <!-- <kendo-editor formControlName="soldesa"></kendo-editor> -->
                                                                        <div [innerHtml]="safeHtnlinstrucciones(editForm.controls.soldesa.value)"></div>

                                                                        <!-- <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.impacto.valid || editForm.controls.impacto.pristine">
                                                                            Solución a desarrollar es requerida
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </kendo-tabstrip-tab>

                                                </kendo-tabstrip>
                                            </kendo-splitter-pane>
                                        </form>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab [title]="'Novedades'" [selected]="false">
                            <ng-template kendoTabContent>
                                <div [ngStyle]="{'background-color':'#e2eef5'}">
                                    <h3 class="divprincipal alert-muted text-center ">
                                        Novedades
                                    </h3>
                                    <div>
                                        <kendo-grid [data]="gridDataNov" [height]="700" [pageSize]="statelog.take" [skip]="statelog.skip" [sortable]="true" [sortable]="{
                                                allowUnsort: allowUnsort,
                                                mode: multiple ? 'multiple' : 'single'
                                                }" [sort]="sortlog" (sortChange)="sortChangelog($event)" [pageable]="true" [filter]="filternov" filterable="menu" (filterChange)="filterChangelog($event)" (dataStateChange)="dataStateChangelog($event)"
                                            (edit)="editHandlerlog($event)" (remove)="removeHandlerlog($event)" (add)="addHandlerlog($event)">
                                            <kendo-grid-messages groupPanelEmpty="Drag here to group" noRecords="No se encontraron items para mostrar." filterContainsOperator="Contiene" filterEndsWithOperator="Termina con" filterAfterOperator="es posterior" filterAfterOrEqualOperator="es posterior o igual a"
                                                filterBeforeOperator="es anterior" filterBeforeOrEqualOperator="es anterior o igual a" filterBooleanAll="Todo" filterClearButton="Limpiar" filterEndsWithOperator="Termina con" filterEqOperator="Es igual a" filterFilterButton="Filtro"
                                                filterGtOperator="es mayor que" filterGteOperator="es mayor o igual que" filterIsEmptyOperator="Está vacío" filterIsFalse="Falso" filterIsNotEmptyOperator="no está vacío" filterIsNotNullOperator="no es nulo"
                                                filterIsNullOperator="es nulo" filterIsTrue="Verdadero" filterLtOperator="es menor que" filterLteOperator="es menor o igual que" filterNotContainsOperator="No contiene" filterNotEqOperator="No es igual a" filterStartsWithOperator="comienza con"
                                                groupPanelEmpty="Gupo Vacío" NoRecords="sin registros" pagerFirstPage="Primera página" pagerLastPage="Ultima" pagerNextPage="Siguiente" pagerPreviousPage="Anterior" pagerPage="Página" pagerOf="de" pagerItems="ítems"
                                                pagerItemsPerPage="ítems por página">
                                            </kendo-grid-messages>
                                            <ng-template kendoGridToolbarTemplate>
                                                <button *ngIf="!requerimiento.entregado" kendoGridAddCommand>Adicionar Nuevo</button>
                                            </ng-template>
                                            <div>

                                                <kendo-grid-column field="nombrereporta" title="Reporta" [sortable]="true">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{ dataItem.nombrereporta}}
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="fechalog" title="Fecha" format="{0:g}">
                                                    <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                                                        <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
                                                        </date-range-filter>
                                                    </ng-template>
                                                </kendo-grid-column>

                                                <kendo-grid-column field="seguimiento" title="Novedad" [sortable]="true">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{ dataItem.seguimiento }}
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="accion" title="Acción" [sortable]="true">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{ dataItem.accion }}
                                                    </ng-template>
                                                </kendo-grid-column>
                                            </div>
                                            <kendo-grid-command-column title="opción" width="120">
                                                <ng-template kendoGridCellTemplate>
                                                    <button *ngIf="!requerimiento.entregado" kendoGridEditCommand [primary]="true">Editar</button>
                                                    <button *ngIf="!requerimiento.entregado" kendoGridRemoveCommand>Eliminar</button>
                                                </ng-template>
                                            </kendo-grid-command-column>
                                        </kendo-grid>
                                        <kendo-grid-editnovrequer-form [model]="editDataItemNov" [isNew]="isNewnov" (save)="saveHandlerLog($event)" (cancel)="cancelHandlerArch()">
                                        </kendo-grid-editnovrequer-form>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-tabstrip-tab>

                        <kendo-tabstrip-tab [title]="'Adj. Archivos'" [selected]="false">
                            <ng-template kendoTabContent>
                                <div [ngStyle]="{'background-color':'#e2eef5'}">
                                    <h3 class="divprincipal alert-muted text-center ">
                                        Archivos adjuntos
                                    </h3>
                                    <div>
                                        <!-- <kendo-grid [data]="gridDataArch" [height]="500" [pageSize]="state.take" [skip]="state.skip" [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)" (edit)="editClick($event)"> -->

                                        <kendo-grid [data]="gridDataArch" [height]="700" [pageSize]="state.take" [skip]="state.skip" [sortable]="true" [sortable]="{
                                            allowUnsort: allowUnsort,
                                            mode: multiple ? 'multiple' : 'single'
                                            }" [sort]="sort" (sortChange)="sortChange($event)" [pageable]="true" [filter]="filter" filterable="menu" (filterChange)="filterChange($event)" (dataStateChange)="dataStateChange($event)" (edit)="editHandler($event)"
                                            (remove)="removeHandler($event)" (add)="addHandler($event)">
                                            <kendo-grid-messages groupPanelEmpty="Drag here to group" noRecords="No se encontraron items para mostrar." filterContainsOperator="Contiene" filterEndsWithOperator="Termina con" filterAfterOperator="es posterior" filterAfterOrEqualOperator="es posterior o igual a"
                                                filterBeforeOperator="es anterior" filterBeforeOrEqualOperator="es anterior o igual a" filterBooleanAll="Todo" filterClearButton="Limpiar" filterEndsWithOperator="Termina con" filterEqOperator="Es igual a" filterFilterButton="Filtro"
                                                filterGtOperator="es mayor que" filterGteOperator="es mayor o igual que" filterIsEmptyOperator="Está vacío" filterIsFalse="Falso" filterIsNotEmptyOperator="no está vacío" filterIsNotNullOperator="no es nulo"
                                                filterIsNullOperator="es nulo" filterIsTrue="Verdadero" filterLtOperator="es menor que" filterLteOperator="es menor o igual que" filterNotContainsOperator="No contiene" filterNotEqOperator="No es igual a" filterStartsWithOperator="comienza con"
                                                groupPanelEmpty="Gupo Vacío" NoRecords="sin registros" pagerFirstPage="Primera página" pagerLastPage="Ultima" pagerNextPage="Siguiente" pagerPreviousPage="Anterior" pagerPage="Página" pagerOf="de" pagerItems="ítems"
                                                pagerItemsPerPage="ítems por página">
                                            </kendo-grid-messages>
                                            <ng-template kendoGridToolbarTemplate>
                                                <button *ngIf="!requerimiento.entregado" kendoGridAddCommand>Adicionar Nuevo</button>
                                            </ng-template>
                                            <div>

                                                <kendo-grid-column field="usuarcrea" title="Usuario Creo" [sortable]="true">
                                                    <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                        <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                    </ng-template>
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <!-- <a (routerLink)="retornaRutaCotiza(dataItem)">{{ dataItem.cod_dcotiz+' | '+dataItem.num_dcotiz+' Ver:'+dataItem.id_version }}</a> -->
                                                        {{ dataItem.usuarcrea}}

                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="fecha" format="{0:g}">
                                                    <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                                                        <date-range-filter [field]="column.field" [filter]="filter" [filterService]="filterService">
                                                        </date-range-filter>
                                                    </ng-template>
                                                </kendo-grid-column>

                                                <kendo-grid-column field="nombre" title="Descripción" [sortable]="true">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        {{ dataItem.nombre }}
                                                    </ng-template>
                                                </kendo-grid-column>
                                                <kendo-grid-column field="nomarch" title="Archivo" [sortable]="true">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <a class="hrefarchivo" target="_blank" [href]="dataItem.linkarch">  {{ dataItem.nomarch }}</a>
                                                    </ng-template>
                                                </kendo-grid-column>
                                            </div>
                                            <kendo-grid-command-column title="opción" width="120">
                                                <ng-template kendoGridCellTemplate>
                                                    <!-- <button (click)="monitorClick(dataItem)" kendoGridEditCommand [primary]="true">Editar</button> -->
                                                    <button *ngIf="!requerimiento.entregado" kendoGridEditCommand [primary]="true">Editar</button>
                                                    <!-- <button *ngIf="!dataItem.entregado && !dataItem.evaluado" kendoGridRemoveCommand>Eliminar</button> -->
                                                    <button *ngIf="!requerimiento.entregado" kendoGridRemoveCommand>Eliminar</button>
                                                </ng-template>
                                            </kendo-grid-command-column>
                                        </kendo-grid>
                                        <kendo-grid-editarchrequer-form [model]="editDataItemArch" [isNew]="isNew" (save)="saveHandlerArch($event)" (cancel)="cancelHandlerArch()">
                                        </kendo-grid-editarchrequer-form>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-tabstrip-tab>

                        <kendo-tabstrip-tab [title]="'Ver Archivos'">
                            <ng-template kendoTabContent>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Archivos adjuntos</h3>
                                        </div>
                                        <div *ngIf="cargo_archivos" class="box-body">
                                            <kendo-scrollview [data]="archivosrequerimientos" [width]="widtharchivos" [height]="heightarchivos" [arrows]="true" [pageable]="true">
                                                <ng-template let-item="item">
                                                    <img class="foto" src='{{item.linkarch}}' [ngStyle]="{minWidth: widthfotos}" draggable="true" />
                                                </ng-template>
                                            </kendo-scrollview>

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab [title]="'Log'">
                            <ng-template kendoTabContent>
                                <!-- row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- The time line -->
                                        <ul class="timeline" *ngFor="let itemf of logrequerimientosgroup; let i = index;">
                                            <li class="time-label">
                                                <span class="bg-yellow">
                                                                    {{itemf.value}}
                                                            </span>
                                            </li>
                                            <ul class="timeline" *ngFor="let itemfh of itemf.items; let if = index;">
                                                <li class="timeline" *ngFor="let itemfhora of itemfh.items; let ifh = index;">
                                                    <i *ngIf="itemfhora.regcliente" class="fa fa-user bg-aqua"></i>
                                                    <i *ngIf="!itemfhora.regcliente && !itemfhora.maninterno" class="fa fa-user bg-blue"></i>
                                                    <i *ngIf="!itemfhora.regcliente && itemfhora.maninterno" class="fa fa-user bg-red"></i>
                                                    <div class="timeline-item">
                                                        <span class="time"><i class="fa fa-clock-o"></i> {{itemfhora.horastr}}</span>
                                                        <h3 class="timeline-header"><strong> {{itemfhora.nombrereporta +'  '}} </strong>
                                                            <span *ngIf="!itemfhora.soluciona" class="bg-dark"> {{itemfhora.accion}}</span>
                                                            <span *ngIf="itemfhora.soluciona" class="bg-green"> {{itemfhora.accion +' - SOLUCIONA'}}</span>
                                                        </h3>
                                                        <div class="timeline-body">
                                                            {{itemfhora.seguimiento}}
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab [title]="'Chat'" [selected]="true">
                            <ng-template kendoTabContent>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-success">
                                            <div class="box-header">
                                                <i class="fa fa-comments-o"></i>
                                                <h3 class="box-title">Chat</h3>
                                                <!-- <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                                                    <div class="btn-group" data-toggle="btn-toggle">
                                                        <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
                                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="box-body chat" id="chat-box">
                                                <!-- chat item -->
                                                <div class="item" *ngFor="let itemchat of chatrequerimientos; let i = index;">
                                                    <img *ngIf="itemchat.cliente" src="assets/img/avatar5.png" alt="user image" class="online">
                                                    <img *ngIf="!itemchat.cliente" src="assets/img/logonetsolin.jpg" alt="user image" class="online">
                                                    <p class="message">
                                                        <a class="name">
                                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{itemchat.fechastr +' - ' + itemchat.horastr}}</small> {{itemchat.usuario}}
                                                        </a>
                                                        {{itemchat.texto}}
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- /.chat -->
                                            <div class="box-footer">
                                                <div class="input-group">
                                                    <input class="form-control" [(ngModel)]="chatmensaje" (focus)="darporleidochat()" placeholder="Escriba mensaje...">
                                                    <div class="input-group-btn enviachat">
                                                        <button (click)="chatEnviamensaje($event)" class="btn btn-success"><i class="fa fa-send-o"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box (chat box) -->

                                    </div>
                                </div>
                            </ng-template>
                        </kendo-tabstrip-tab>
                    </kendo-tabstrip>
                </kendo-splitter-pane>
            </div>
        </div>
    </div>
    <div kendoDialogContainer></div>
</div>