.clickmonitor {
    color: #3665e6;
    cursor: pointer;
}
.notasped {
    color: blue;
    width: 400px !important;
}
.titped {
    color: blue !important;
}

.netsgrid {
    display: inline-table !important;
}    