<!-- <kendo-splitter-pane> -->
<!-- <kendo-tabstrip [ngStyle]="{'width': '400px'}">
    <kendo-tabstrip-tab [title]="'Información'" [selected]="true">
        <ng-template kendoTabContent> -->
<div class="row">
    <kendo-dialog *ngIf="active" (close)="closeForm()" [minWidth]="250" [width]="700">
        <kendo-dialog-titlebar>
            Autorizar Usurio Catlogo Cliente
        </kendo-dialog-titlebar>

        <form novalidate [formGroup]="editForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label> Autoriza usar App
                                                        <kendo-switch formControlName="Vista"
                                                        [onLabel]="'Si'"
                                                        [offLabel]="'No'"
                                                        ></kendo-switch>                                                            
                                                </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label> Hacer Pedidos
                                                        <kendo-switch formControlName="Pedido"
                                                        [onLabel]="'Si'"
                                                        [offLabel]="'No'"
                                                        ></kendo-switch>                                                            
                                                </label>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                            <label for="Version" class="control-label">Versión Catalogo</label>
                            <input type="text" class="k-textbox" formControlName="Version" />
                            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.Version.valid || editForm.controls.Version.pristine">
                                Versión Catalogo es requerido
                            </div>
                        </div>
                    </div>
            
                <div class="col-md-4">
                    <div class="form-group">
                        <label> Ver Basicas
                                                        <kendo-switch formControlName="ver_basicas"
                                                        [onLabel]="'Si'"
                                                        [offLabel]="'No'"
                                                        ></kendo-switch>                                                            
                                                </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label> Ver Stock
                                                        <kendo-switch formControlName="ver_stock"
                                                        [onLabel]="'Si'"
                                                        [offLabel]="'No'"
                                                        ></kendo-switch>                                                            
                                                </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label *ngIf="!enerror" for="id_empresa" data-toggle="tooltip" title="Seleccione el cliente.">Cliente - {{labelcliente}} </label>
                <label class="text-danger" *ngIf="enerror" for="id_empresa" data-toggle="tooltip" title="Seleccione el cliente.">Cliente ERROR- {{labelcliente}} </label>
                <i class="fa fa-check-circle check" *ngIf="!enerror && libmantab.conpropvalCampo('id_empresa','valid',editForm)"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="enerror"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="libmantab.conpropvalCampo('id_empresa','invalid',editForm)"></i>
                <nets-ccombog #id_empresa (recibeDatos)="libmantab.recibeCombobus($event,'id_empresa',editForm)" ltooltip="Seleccione el cliente." ltitbusqueda="Buscar cliente" placeholder="Escriba parte del código del cliente o el nombre para buscar."
                    valueini="{{libmantab.valoriniCombog('id_empresa',editForm)}}" lobjbusqueda="RESTCONCLIENTEAPP" camporetbusq="cod_tercer"></nets-ccombog>

                <!-- <nets-ccombog #id_empresa (recibeDatos)="verCombocod_refven($event,'cod_refven','cod_refven')" ltooltip="Seleccione el cliente." ltitbusqueda="Buscar cliente" placeholder="Escriba parte del código del cliente o el nombre para buscar."
                    valueini="{{libmantab.valoriniCombog('id_empresa',editForm)}}" lobjbusqueda="RESTCONCLIENTEAPP" camporetbusq="cod_tercer"></nets-ccombog> -->

                <!-- <label for="id_empresa" class="control-label">Nit</label>
                <input type="text" class="k-textbox" formControlName="id_empresa" />
                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.id_empresa.valid || editForm.controls.id_empresa.pristine">
                    Nit Empresa es requerido
                </div> -->
            </div>

            <!-- <div class="form-group">
                <label for="cod_ciudad" data-toggle="tooltip" title="Seleccione la ciudad. Para buscar escriba código o nombre seguido de *">Ciudad</label>
            <i class="fa fa-check-circle check" *ngIf="libmantab.conpropvalCampo('cod_ciudad','valid',tablaForm)"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="libmantab.conpropvalCampo('cod_ciudad','invalid',tablaForm)"></i>
            <netscombog (pasarDatos)="verCombocod_ciudad($event,'cod_ciudad','cod_ciudad')" valini="{{libmantab.valoriniCombog('cod_ciudad',tablaForm)}}" tablabase="CIUDADES" orden="1" filtro="*" campollave="cod_ciudad" [esdisabled]="disablecod_ciudad">
            </netscombog>
        </div> -->


            <div class="form-group">
                <label for="Empresa" class="control-label">Empresa</label>
                <input type="text" class="k-textbox" formControlName="Empresa" />
                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.Empresa.valid || editForm.controls.Empresa.pristine">
                    Empresa es requerido
                </div>
            </div>

            <div class="form-group">
                <label for="Nombre" class="control-label">Usuario</label>
                <input type="text" class="k-textbox" formControlName="Nombre" />
                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.Nombre.valid || editForm.controls.Nombre.pristine">
                    Usuario es requerido
                </div>
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input type="text" class="k-textbox" formControlName="Email" />
                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.Email.valid || editForm.controls.Email.pristine">
                    Email es requerido
                </div>
            </div>
        </form>

        <kendo-dialog-actions>
            <button class="k-button" (click)="onCancel($event)">Cancelar</button>
            <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Grabar</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>
<!-- </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'Archivos'">
        <ng-template kendoTabContent>
            <h3 class="divprincipal alert-muted text-center">
                Estadisticas del Cliente Potencial. En desarrollo. Muy pronto
            </h3>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                </div>
            </div>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip> -->
<!-- </kendo-splitter-pane> -->