<div class="alert alert-danger" *ngIf="enerror">
    {{message}}
</div>
<div class="alert alert-danger" *ngIf="enlistaerror">
    <ul>
        <li *ngFor="let regerror of listaerrores">
            {{regerror.menerror}}
        </li>
    </ul>
</div>
<div class="alert alert-success" *ngIf="!enerror && mostrarmensaje">
    {{message}}
</div>
<!-- prueba firebase oct 4 18 -->
<!-- <ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.nombre}}
    </li>
</ul> -->

<!-- aqui ventanas modal para la adicion de otras tablas desde este modulo -->
<!-- <mant-cliepoten ptitulo="Consultar Cliente potencial." *ngIf="consultacliepoten" (evenclose)="closeconsulta('cliepoten')" pvaparam="VPARCLIENPOTEN" pobjeto="CRMCLIENTECP01" ptipomant="C" [pid]="id_cliepoten"></mant-cliepoten> -->
<div *ngIf="resultados" class="row">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-6 col-lg-6 netsmonibotonmentop">
            <strong>Monitor Registros Usuarios Catalogo clientes 

            </strong>
            <strong *ngIf="service.cargo_usuar">
        </strong>
            <strong *ngIf="service.cargo_empre">
            <!-- Empresa Fb: {{service.empreFb.nit}} {{service.empreFb.nombre}} -->
        </strong>

            <!-- <form class="navbar-form navbar-right" role="search" method="POST" action="<%=llinkbot%>">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Año</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" id=submit1 name=BA>Consultar</button>
                </form> -->
        </div>
    </div>
    <div *ngIf="resultados" class="row">
        <kendo-splitter-pane>
            <kendo-tabstrip>
                <kendo-tabstrip-tab [title]="'Pendientes'" [selected]="true">
                    <ng-template kendoTabContent>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <!-- TABLE: LATEST ORDERS -->
                                    <div class="box box-red">
                                        <div class="box-header with-border">
                                            <div class="box-tools pull-right">
                                                <!-- <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div>
                                                <!-- <kendo-grid [data]="gridData" [height]="500" [pageSize]="state.take" [skip]="state.skip" [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)" (edit)="editClick($event)"> -->

                                                <kendo-grid [data]="gridData" [height]="700" [pageSize]="state.take" [skip]="state.skip" [sortable]="true" [sortable]="{
                                                    allowUnsort: allowUnsort,
                                                    mode: multiple ? 'multiple' : 'single'
                                                    }" [sort]="sort" (sortChange)="sortChange($event)" [pageable]="true" [filter]="filter" filterable="menu" (filterChange)="filterChange($event)" (dataStateChange)="dataStateChange($event)" (edit)="editHandler($event)"
                                                    (remove)="removeHandler($event)" (add)="addHandler($event)">
                                                    <kendo-grid-messages groupPanelEmpty="Drag here to group" noRecords="No se encontraron items para mostrar." filterContainsOperator="Contiene" filterEndsWithOperator="Termina con" filterAfterOperator="es posterior" filterAfterOrEqualOperator="es posterior o igual a"
                                                        filterBeforeOperator="es anterior" filterBeforeOrEqualOperator="es anterior o igual a" filterBooleanAll="Todo" filterClearButton="Limpiar" filterEndsWithOperator="Termina con" filterEqOperator="Es igual a"
                                                        filterFilterButton="Filtro" filterGtOperator="es mayor que" filterGteOperator="es mayor o igual que" filterIsEmptyOperator="Está vacío" filterIsFalse="Falso" filterIsNotEmptyOperator="no está vacío"
                                                        filterIsNotNullOperator="no es nulo" filterIsNullOperator="es nulo" filterIsTrue="Verdadero" filterLtOperator="es menor que" filterLteOperator="es menor o igual que" filterNotContainsOperator="No contiene"
                                                        filterNotEqOperator="No es igual a" filterStartsWithOperator="comienza con" groupPanelEmpty="Gupo Vacío" NoRecords="sin registros" pagerFirstPage="Primera página" pagerLastPage="Ultima" pagerNextPage="Siguiente"
                                                        pagerPreviousPage="Anterior" pagerPage="Página" pagerOf="de" pagerItems="ítems" pagerItemsPerPage="ítems por página">
                                                    </kendo-grid-messages>
                                                    <div>
                                                        <kendo-grid-column field="id_empresa" width="110" title="Nit" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <!-- <ng-template kendoGridCellTemplate let-dataItem>
                                                                    {{ dataItem.id_empresa }}
                                                            </ng-template> -->
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                <span class="clickmonitor">
                                                                    <a (click)="monitorClick(dataItem)" title="Click para ir a detallar el pedido."> {{ dataItem.id_empresa }}</a>
                                                                    </span>
                                                            </ng-template>

                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="nom_empresa" title="Empresa" width="160" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                {{ dataItem.nom_empresa}}
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="id_pedido" title="Id. Pedido" width="160" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                {{ dataItem.id_pedido}}
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="fecha" width="110" title="Fecha" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                     {{ dataItem.fecha | date:'medium'}}
                                                            </ng-template>
                                                        </kendo-grid-column>

                                                        <kendo-grid-column field="Email" title="Usuario" width="160" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                               {{ dataItem.nomusuar_crea +' | ' + dataItem.email}}
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                    </div>
                                                    <kendo-grid-command-column title="opción" width="120">
                                                        <ng-template kendoGridCellTemplate>
                                                            <button kendoGridEditCommand [primary]="true">Editar</button>
                                                            <!-- <button kendoGridRemoveCommand>Eliminar</button> -->
                                                        </ng-template>
                                                    </kendo-grid-command-column>
                                                </kendo-grid>
                                                <kendo-grid-edit-form [model]="editDataItem" [isNew]="isNew" (save)="saveHandler($event)" (cancel)="cancelHandler()">
                                                </kendo-grid-edit-form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Autorizados'" [selected]="false">
                    <ng-template kendoTabContent>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="box box-red">
                                        <div class="box-header with-border">
                                            <div class="box-tools pull-right">
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div>
                                                <kendo-grid [data]="gridDataactivos" [height]="700" [pageSize]="statecerrados.take" [skip]="statecerrados.skip" [sortable]="true" [sortable]="{
                                                        allowUnsort: allowUnsort,
                                                        mode: multiple ? 'multiple' : 'single'
                                                        }" [sort]="sortcerrados" (sortChange)="sortChangecerrados($event)" [pageable]="true" [filter]="filtercerrados" filterable="menu" (filterChange)="filterChangecerrados($event)" (dataStateChange)="dataStateChangecerrados($event)"  (edit)="editHandler($event)">
                                                    <kendo-grid-messages groupPanelEmpty="Drag here to group" noRecords="No se encontraron items para mostrar." filterContainsOperator="Contiene" filterEndsWithOperator="Termina con" filterAfterOperator="es posterior" filterAfterOrEqualOperator="es posterior o igual a"
                                                        filterBeforeOperator="es anterior" filterBeforeOrEqualOperator="es anterior o igual a" filterBooleanAll="Todo" filterClearButton="Limpiar" filterEndsWithOperator="Termina con" filterEqOperator="Es igual a"
                                                        filterFilterButton="Filtro" filterGtOperator="es mayor que" filterGteOperator="es mayor o igual que" filterIsEmptyOperator="Está vacío" filterIsFalse="Falso" filterIsNotEmptyOperator="no está vacío"
                                                        filterIsNotNullOperator="no es nulo" filterIsNullOperator="es nulo" filterIsTrue="Verdadero" filterLtOperator="es menor que" filterLteOperator="es menor o igual que" filterNotContainsOperator="No contiene"
                                                        filterNotEqOperator="No es igual a" filterStartsWithOperator="comienza con" groupPanelEmpty="Gupo Vacío" NoRecords="sin registros" pagerFirstPage="Primera página" pagerLastPage="Ultima" pagerNextPage="Siguiente"
                                                        pagerPreviousPage="Anterior" pagerPage="Página" pagerOf="de" pagerItems="ítems" pagerItemsPerPage="ítems por página">
                                                    </kendo-grid-messages>
                                                    <div>
                                                        <kendo-grid-column field="id_empresa" width="110" title="Nit" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                    {{ dataItem.id_empresa }}
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="Empresa" title="Empresa" width="160" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                {{ dataItem.Empresa}}
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="ID" width="110" title="Id" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                     {{ dataItem.ID }}
                                                            </ng-template>
                                                        </kendo-grid-column>

                                                        <kendo-grid-column field="Nombre" title="Usuario" width="160" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                {{ dataItem.Nombre}}

                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="Email" title="Email" width="160" [sortable]="true">
                                                            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                            </ng-template>
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                               {{ dataItem.Email}}
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="Version" title="Versión" width="50" [sortable]="true">
                                                                <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                                                                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService" [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                                                                </ng-template>
                                                                <ng-template kendoGridCellTemplate let-dataItem>
                                                                   {{ dataItem.Version}}
                                                                </ng-template>
                                                            </kendo-grid-column>

                                                        <kendo-grid-column field="ver_basicas" width="60" title="Basicas" filter="boolean">
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                <input type="checkbox" [checked]="dataItem.ver_basicas" disabled/>
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="ver_stock" width="60" title="Stock" filter="boolean">
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                <input type="checkbox" [checked]="dataItem.ver_stock" disabled/>
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="Vista" width="60" title="Autorizado" filter="boolean">
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                <input type="checkbox" [checked]="dataItem.Vista" disabled/>
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                        <kendo-grid-column field="Pedido" width="60" title="Pedidos" filter="boolean">
                                                            <ng-template kendoGridCellTemplate let-dataItem>
                                                                <input type="checkbox" [checked]="dataItem.Pedido" disabled/>
                                                            </ng-template>
                                                        </kendo-grid-column>
                                                    </div>
                                                    <kendo-grid-command-column title="opción" width="120">
                                                        <ng-template kendoGridCellTemplate>
                                                            <button kendoGridEditCommand [primary]="true">Editar</button>
                                                            <!-- <button kendoGridRemoveCommand>Eliminar</button> -->
                                                        </ng-template>
                                                    </kendo-grid-command-column>
                                                </kendo-grid>
                                                <kendo-grid-edit-form [model]="editDataItem" [isNew]="isNew" (save)="saveHandler($event)" (cancel)="cancelHandler()">
                                                </kendo-grid-edit-form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>


            </kendo-tabstrip>
        </kendo-splitter-pane>
    </div>
</div>
<div kendoDialogContainer></div>