<soporte-busqueda ptitulo="Monitor Busquedas" *ngIf="mostmonibusquedas" (evenclose)="closebusqueda()">
</soporte-busqueda>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active">
                <a href="#">
                    <span>OPCIONES</span>
                </a>
            </li>
            <!-- <li>
                <a (click)="openbusqueda()">
                    <i (click)="openbusqueda()" class="fa fa-search text-red busqueda" data-toggle="tooltip" title="Click para busquedas."></i>
                    <span class="busqueda">Monitor Busquedas Soporte</span>
                </a>
            </li> -->


        </ul>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a routerLink="/home" routerLinkActive="active">
                    <i class="fa fa-home"></i>Inicio</a>
            </li>
            <li>
                <a href="../">ir a Netsolin
                    </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>